[Unit]
Description=Gunicorn instance for a simple Flask app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/aws_assignment
ExecStart=/home/ubuntu/aws_assignment/venv/bin/gunicorn -b localhost:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target

